div.input{ text-align:center; }
.searchspace{ width:400px; height:30px; }
.sendbutton{ margin-top:15px; margin-bottom: 5px; padding:0px; background:none; border:0; overflow:visible; cursor:pointer; border-style: none; }